<img class="peinture" src="../assets/eclatdepeinture.png">

<div class="timeline">
  <div class="item">
    <div class="timeline-item">
      <div class="hour">14h30</div>
      <div class="event">Cérémonie officielle</div>
    </div>
    <div class="timeline-bullet bullet-horizontal"></div>
    <div class="timeline-event-localisation">
      <div class="iconAndPlace">
        <a href="https://goo.gl/maps/NLyxE8q3Nr5w7hdc6" target="_blank" class="localisation-first">Mairie</a>
        <i class="fa-sharp fa-solid fa-location-dot"></i>
      </div>
      <div class="localisation-second">Saint Cyr au Mont d'or</div>
    </div>
  </div>

  <div class="item">
    <div class="timeline-item">
      <div class="hour">17h00</div>
      <div class="event">Cérémonie laïque</div>
    </div>
    <div class="timeline-bullet bullet-horizontal"></div>
    <div class="timeline-event-localisation">
      <div class="iconAndPlace">
        <a href="https://goo.gl/maps/dFrB3abrNdLCRrbTA" target="_blank" class="localisation-first">Château de La Flachère</a>
        <i class="fa-sharp fa-solid fa-location-dot"></i>
      </div>
      <div class="localisation-second">Saint Vérand</div>
    </div>
  </div>

  <div class="item">
    <div class="timeline-item">
      <div class="dress">Dress Code</div>
    </div>
    <div class="timeline-bullet"></div>
    <div class="timeline-event-localisation">
      <div class="basketsMessage">Tous en baskets pour faire la fête jusqu'au bout de la nuit !</div>
    </div>
  </div>
</div>
